name: Calculating PKG_MIRROR_HASH
on:
  workflow_dispatch:
    inputs:
      target_version:
        description: 'Target OpenWrt version. if empty the simple mode will be used.'
        required: false
        type: string
  push:
    branches:
      - master

jobs:
  check:
    name: Calculating PKG_MIRROR_HASH of XX
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.ref_name }}
          fetch-depth: 0

      - uses: Jackie264/actions-repo/package-mirror-hash-calculator@latest
        env:
          COMMIT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MAKEFILE: Makefile
          TARGET_VERSION: "24.10.4"
          COMMIT_MESSAGE: "Update-PKG_MIRROR_HASH to $NEW_HASH"
